*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#dc0000;
    --second-color:#4b4b4b;
    --bg-color:#231F20;
    --primary-text-color:#fff;
    --second-text-color:#000;
}

nav{
    background-color: #171515;
}

.btn{
    margin-right: 5px;
}

.logo{
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    color: var(--primary-text-color);
}

.logo:hover{
    color: var(--primary-color);
}

.logo span{
    color: var(--primary-color);
}

.logo:hover span{
    color: var(--primary-text-color);
}

.background{
    background-color: var(--bg-color)
}

.card{
    background-color: var(--second-color);
    min-height: 50vw
}